.inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0097A7;

}

.input{
    width: 60px;
}

.input:not(:first-of-type)
{
    margin-top: 10px;
}

.textValue{
    font-size: 8px;
}